<?xml version="1.0" encoding="UTF-8"?>
<suite name="testng测试" parallel="true">
    <test name="测试快速开始" preserver-order="true">
        <groups>
            <run>
                <include name="qucikstart" />
            </run>
        </groups>

        <classes>
            <class name="nobel.auto.test.testQuickStart" />
        </classes>

        <listeners>
            <listener class-name="org.uncommons.reportng.HTMLReporter" />
            <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
        </listeners>
    </test> <!-- Test -->
</suite> <!-- Suite -->
