<?xml version="1.0" encoding="UTF-8"?>
<suite name="testng测试" parallel="true">
    <test name="Nobel自动化测试" preserver-order="true">
        <groups>
            <run>
                <include name="test001" />
            </run>
        </groups>

        <classes>
            <class name="nobel.auto.test.NobelAutoTest" />
        </classes>

        <listeners>
            <listener class-name="org.uncommons.reportng.HTMLReporter" />
            <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
        </listeners>
    </test> <!-- Test -->
</suite> <!-- Suite -->
